{
    "semi": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "singleQuote": true,
    "arrowParens": "always",
    "printWidth": 80,
    "overrides": [
        {
            "files": "*.{js,jsx,tsx,ts,scss,json,html}",
            "options": {
                "tabWidth": 4
            }
        }
    ]
  }
